body {
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
   
   
  }
  .navcontent{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
  }
  header{
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
   
  }
 

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
   border-bottom: 1px solid white;
    height: 60px;
    width: 100%;
    top: 0;
   overflow: hidden;
    color: #fffffe;
    text-shadow: 0 0 10px white,;
  }
  
  .navbar ul {
    display: flex;
    gap: 3rem;
    list-style: none;
   
  }
  
  .navbar ul li a {
    background-color: #dfd7bd;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 10px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 10px white;
    
  }
  
  /* Shimmer Effect on Navbar Links */

  

  
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: white;
  }
 
  

  /* Shimmer Keyframe Animation */
  @keyframes shimmer {
    0% {
      left: -150%;
    }
    100% {
      left: 150%;
    }
  }
  .home{
    margin: auto;
    padding-top: 5%;
    height:200px;
    text-align: center;
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
    overflow: hidden;
    
  }
  #certifications{
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
  
   
    
  }
  #certifications h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:2px rgb(255, 255, 255) underline;
  }
 .cert-img{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }
#certifications img{
    height:180px;
    width: 280px;
    border: 1px solid rgb(228, 228, 228);
   
    
    display:inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0 auto;
  
  
}
.div13{
 
  display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  margin: 2%;
  width: 300px;
  height: 250px;

  padding: 1%;
}
#certifications p{
  color: white;
 text-align: center;
 

}
#certifications ul{
    list-style: none;
   
}
#certifications li{

     padding: 2%;
    
}
  .home h2 {
   
  
    font-size: 3rem;
    width: 100%;

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:white;
   margin: 2%;
 
   
    text-shadow: 0 0 20px rgb(5, 2, 8);
    background: linear-gradient(90deg, transparent, #4d4a4a, transparent);

    
  }
  
  .home p {
  
    
    font-size: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
  
    background: linear-gradient(30deg, transparent, #fcf8f8, transparent);
   
  }
  #about{
    display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: justify;
  
    box-shadow: 0 0 10px black;
   
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
}

.div11{
  margin:3%;
  display: block;
 border-radius: 5%;
  background-color: #d8d3d318;
  padding: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  box-shadow: 0 0 30px black;
  border: 0.5px solid white;
  
}
.navbar h1{
  color: #d3cfcb;
}
#about h2{
  color:black;
  height: 40px;
  display: inline-block;
  align-items: center;
  background-color: white;
padding-top: 5%;
  justify-content: center;
  text-align: center;
  
  border: 5px solid rgb(0, 0, 0);
  width: 200px;
  border-radius: 5%;
}
h1, h2 {
    color: #000000;
    margin-bottom: 10px;
    
    text-align: center;
}


  section {
    overflow: hidden;
    opacity: 0;
    transform: translateY(100px);
    animation: slideIn 1s forwards;
  }
 
   #about img{
    height: 100px;
    width:300px;
    border: 1px solid rgb(255, 255, 255);
   }
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #publications{
    text-align: center;
   
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
    color: white;
  }
  #publications h1{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: 2px white underline;
  }
  .pubdiv{
    margin: 3%;

  }
  
  .mlprojects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
  }
  .ml1 img{
    width: 200px;
    height: 200px;
    display:inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:0 auto;
    border: 1px solid white;
    
  }
  .mlprojects p{
    text-align: justify;
    margin: 4%;
  }
  .ml1{
      background-color: #d8d3d315;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding:2%;
    min-height: 400px;
    height: 500px;
    width: 300px;
    text-align: center;
   border-radius: 5%;
   box-shadow: 0 0 20px black;
  }
  .projecthead{
    height: 10%;
    width:100%;
  
  }
  .projects h2{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    width: 100%;
    
   text-decoration: 2px rgb(247, 245, 245) underline;
    
   
   font-family:'Times New Roman', Times, serif;
  
    
  }
  
  .projectbody{
    position: relative;
   
  
  }
  .projects{
    padding: 0px 0;
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
    width: 100%;
    height: 820px;
    display: flex;
justify-content: center;
   
  
    
  }
  
 .project-tree{
  width: 800px;
 top: 40%;
 margin-top: 40%;
  position: relative;
 

 }
 .projectdesc a{
  color:hsl(0, 0%, 99%)
 }
 .tree{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
 }
 .trunk{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:3px;
  height:630px;
  background-color: #fdf2f2;

  
 

 }

 .left{
  left:200px;
 }
 .right{
  right:200px;
 }
 .level1 {
  top:0;
 }
 .level2{
  top:150px;
 }
 .level3{
  top:300px;
 }
 .level4{
  top:450px;
 }
 
 .leaf{
  position:absolute;

 }
 .circle{
 
  width:180px;
  height:180px;
  border-radius: 50%;
 border: 3px solid rgb(253, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
box-shadow: 0 0 60px rgb(0, 0, 0);
 }
 .circle img{
  width:180px;
  height:180px;
  border-radius: 50%;
 }
 .projectdesc{
 color: #f8f2f2; 
margin-top: 10px;
  text-align: justify;
  font-size: 10px;
 
 }
 .connector{
  position: absolute;
  
  

  
  height:3px;
  background-color: #faf0f0;

 }
 .left .connector{
  top:40%;
  right: 183px;
  width: 200px;
 }
 .right .connector{
  top:40%;
  left:183px;
  width: 200px;
  
 }
 @keyframes glow {
  0% {
      box-shadow: 0 0 5px rgb(255, 255, 255);
      border-color: rgb(255, 255, 255);
  }
  100% {
      box-shadow: 0 0 20px rgb(252, 253, 253), 0 0 40px rgb(226, 226, 226);
      border-color: rgb(255, 253, 253);
  }
}
.skillsection {
  text-align: center;

  width: 100%;
  align-items: center;
  display: flex;
  color: #fff3f3;
  overflow: hidden;
  background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
}
.skills-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;

  font-family:'Times New Roman', Times, serif;
  width:40%;
}
.skills-title h1{
  color: white;
  text-decoration: 2px white underline;
}
.skills-title p{
  text-transform:none;
  text-align: justify;
  font-size: 15px;
  margin-left: 40px;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}
.skill-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-evenly;
  align-items: center;
}
.skill-name{
  height: 50px;
  margin: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  
  color: #ffffff;
  width: 150px;
  font-weight: 700;
  border-radius: 3%;
 border: 3px solid black;

}
.skill-name:hover{
  color: rgb(0, 0, 0);
  background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    
}
.services {
  background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
  text-align: center;
  color: white;
}
.services h2{
  font-family:'Times New Roman', Times, serif;
  color: white; 
font-size: 2.5rem;
  text-decoration:2px rgb(255, 255, 255) underline;

}
.services-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px 0;
}

.service {
  background-color: #f8fffe1a;
  margin: 0 20px;
  padding: 20px;
  color: #f1efef;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.918);
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: pop-in 0.5s ease-in-out;
}

.service h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #292825;
  height: 50px;
  width: 170px;
  color: #f1f0e6;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  border: 1px solid white;
}

.service p {
  font-size: 14px;
  width: 150px;
  color: #eeeded;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


#contact {
    background: linear-gradient(90deg,rgb(39, 39, 39), #252525, rgb(8, 8, 8));
 
  text-align: center;
  color: #fffcfc;
  display:flex;
  align-items: center;
  justify-content: center;

  

 
}

.contentcon{
  justify-content: center;
  align-items: center;
}
#contact h2 {
 

  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
    color: rgb(233, 232, 232); 
  
    text-decoration:2px white underline;
    
   
   
}
@keyframes slide-text {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

.contact-info {
 
  padding: 10px;
 
  font-weight: 800;
  color: #fff7f7;
  margin-bottom: 20px;
  background-color: rgba(93, 86, 97, 0.4);

}

.contact-info p {
  color: rgb(247, 236, 236);
  font-size: 18px;
  margin: 10px;
}

.contact-info a {
color: rgb(255, 249, 249);
  text-decoration: none;
}

.contact-info a:hover {
  color: #ffd700; 
}

.contact-form {
  
  padding: 10px;
  color: #fffafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  
}
.contact-form h5{
  text-align:center;
}
.contact-form h3 {
  
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
  font-family:'Times New Roman', Times, serif;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
  width: 50%; 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
 background-color:rgba(216, 196, 196, 0.1);
  color: #000000;
  font-weight: 700;
  border-radius: 5px;
  
}

.contact-form button[type="submit"] {
  color: #fff8f8; 
  padding: 10px 20px;
  border: 1px solid white;
 
  cursor: pointer;
  background-color: #000000;
  
}



.contact-form button[type="submit"]:hover {
  background-color: #ffffff; 
  color: #000000;
 
}

.download-cv {
  margin-top: 5px;
  margin-bottom: 30px;
}
.download-cv input[type="text"]{
  width: 30%;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #000000;
 background-color:rgba(216, 196, 196, 0.1);
  color: #ffffff; 
  font-weight: 700;
  border-radius: 5px;


}
.download-cv button {

  color: #fff; 
  padding: 10px 20px;
  border:1px solid white;
background-color: #000000;
  cursor: pointer;
  
}

.download-cv button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}
footer{
  background:linear-gradient(90deg,rgb(5, 5, 5), #111111, rgb(0, 0, 0)); 
  color: #dfd7bd;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 980px) {
  
  .navcontent{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
  }
  header{
    padding: 4%;
  }
 
  .navbar ul li a {
    background-color: #dfd7bd;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 4px 5px;
    height: 20px;
    width: 30px;
    margin: 2px;
    box-shadow: 0 0 5px white;
    font-size: xx-small;
    transition: all 0.3s ease-in-out;
  }
  .navbar ul {
    display: flex;
  padding: 5px;
  gap: 1rem;
    list-style: none;
   
  }
  .projects{
    padding: 0px 0;
   
    width: 100%;
    height: 730px;
    display: flex;
justify-content: center;
   
  
    
  }
 
 #home{
  height: 100px;
  padding-top: 5%;
 }
  #home h2{
    font-size:30px;
  }

 .projects h2{
  font-size: 1.5rem;
 }
  
 .project-tree{
  width: 800px;
 top: 40%;
 margin-top: 40%;
  position: relative;
 

 }
 .tree{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
 }
 .trunk{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:3px;
  height:630px;

 

 }

 .left{
  left:50px;
 }
 .right{
  right:50px;
 }
 .level1 {
  top:0;
 }
 .level2{
  top:150px;
 }
 .level3{
  top:300px;
 }
 .level4{
  top:450px;
 }
 
 .leaf{
  position:absolute;

 }
 .circle{
 
  width:110px;
  height:110px;
 ;
 }
 .circle img{
  width:110px;
  height:110px;
  border-radius: 50%;
 }
 .projectdesc{

margin-top: 10px;
  text-align: justify;
  font-size: 8px;
 
 }
 .connector{
  position: absolute;
 
  

  
  height:3px;


 }
 .left .connector{
  top:30%;
  right: 113px;
  width: 50px;
 }
 .right .connector{
  top:30%;
  left:113px;
  width: 50px;
  
 }
 .home{
  height:400px;
 
  
}
.about{
  height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden;
  
}


.abhead{
  width:50%;
  color: #f3eeda;
  position: relative;
 
  font-size: 1rem;
  
  overflow: hidden;
  height: 100%;
  align-items: center;
  
 
  
  text-align: center;
 
 

  
 
}
.abhead h2{
  margin-left: 20px;
}
.abbody{
 

  width: 50%;
  height: 100%;

  align-items: center;
  justify-content: center;
  display: flex;

}
.abbody p{
 height: 280px;
  width:130px;
 text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 5px;
  font-weight: 600;
  border-radius: 5%;
 
 
  
 
}

section {
  overflow: hidden;
  opacity: 0;
  transform: translateY(100px);
  animation: slideIn 1s forwards;
}
.skillsection {
  text-align: center;

  width: 100%;
  align-items: center;
  display: flex;
  
  overflow: hidden;
  
}
.skills-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
 
  width:40%;
}
.skills-title p{
  text-transform:none;
  text-align: justify;
  font-size: 10px;
margin-left: 5px;
  
  
}
.skill-container {
  width: 60%;

}
.skill {
  display: flex;
  align-items: center;
  margin: 5px ;
  position: relative;
}
.skill-name {
  width: 70px;
  text-align: center;
  margin-right: 1px;
  font-weight: bold;
  font-size: xx-small;
  margin-left: 1px;
}
.skill-bar {
  height: 1px;
 
  border-radius: 3px;
  width: 50%; 

 
}
.ball {
  width: 8px;
  height: 8px;

}
.skill-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  justify-content: space-evenly;
  align-items: center;
}
.skill-name{
  height: 30px;
  margin: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  
  color: #ffffff;
  width: 80px;
  font-weight: 700;
  border-radius: 1%;
 border: 3px solid black;

}
.skill-name:hover{
  color: rgb(0, 0, 0);
  background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    
}
.skills-title h1{
  font-size: 1.5rem;
}
#publications h1{
  font-size: 1.5rem;
}
.services h2{
  font-size: 1.5rem;
}
#certifications h1{
  font-size: 1.5rem;
}
#contact h2{
  font-size: 1.5rem;
}
}
